anyio
bcrypt
click
colorama
dnspython
fastapi
h11
httptools
idna
Jinja2
MarkupSafe
motor
pydantic
pydantic_core
pydotenv
PyJWT
pymongo
python-dotenv
python-multipart
pytube
PyYAML
sniffio
starlette
typing_extensions
uvicorn
watchfiles
websockets
